
//----- Projects | CARDS 

.projects-card {
    .css-57, .css-58{
        color: var(--text-color);
    }
}

.card-vertical__inner,
.card-horizontal__inner  {
    background:  var(--accent-color);
}

.card__tools {
    justify-content: space-between;
    border: none;
    margin: 12px;
}

.tools__icon {
    color: var(--text-color);
}
.icon--more {
    margin: 0;
}

.icon--view {
    transition: all 0.3s;
    &:hover,
    &:focus {
        color:  var(--link-color);
    }
}

//--- CARDS | Pinned | Horizontal
.projects-content__pinned {
    min-width: 270px;
    box-shadow: none;
    
}

.pinned__list {
    width: 100%;
}

.card-horizontal {
    margin-bottom: 20px;
    @media only screen and (min-width: 992px) {
        width: 572px;
    }
}

.card-horizontal__inner {
    min-width: 100%;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.133) 0px 1.6px 3.6px 0px, rgba(0, 0, 0, 0.11) 0px 0.3px 0.9px 0px;
    @media only screen and (min-width: 768px) {
        flex-direction: row;
    }
    
    &:hover,
    &:focus {
        box-shadow: rgba(255, 127, 80, 0.13) 0px 3.2px 7.2px 0px, rgba(255, 127, 80, 0.11) 0px 0.6px 1.8px 0px;
    }
}

.card-horizontal__visual {
    width: 100%;
    @media only screen and (min-width: 768px) {
        width: 200px;
    }
}

.card-horizontal__image {

    @media only screen and (min-width: 768px) {
        width: 200px;
    }

    img {
        @include object-fit ;
        @media only screen and (min-width: 768px) {
            height: 169px;
            width: auto;
        }
    }
}

.card-horizontal__content {
    margin: 12px;
    flex: 1;
}

.card-horizontal__tools {
    display: flex;
    flex-direction: row;
    @media only screen and (min-width: 768px) {
        flex-direction: column;
    }
}


//--- CARDS | All | VERTICAL

.cards__list {
    display: flex;
    flex-wrap: wrap;
    @media only screen and (min-width: 768px) {
        margin: 0 -10px;
    }
}

.card-vertical {
    margin-bottom: 20px;
    width: 100%;
    box-shadow: none;

    &:hover,
    &:focus {
        box-shadow: none;
    }

    @media only screen and (max-width: 768px){
        min-width: 100%;
    }

    @media only screen and (min-width: 768px) {
        width: 50%;
        padding: 0 10px;
    }

    @media only screen and (min-width: 1025px) {
        width: 33.33%;
    }
}

.card-vertical__inner {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.133) 0px 1.6px 3.6px 0px, rgba(0, 0, 0, 0.11) 0px 0.3px 0.9px 0px;
    transition: box-shadow 0.5s ease 0s;
    &:hover,
    &:focus {
        box-shadow: rgba(255, 127, 80, 0.13) 0px 3.2px 7.2px 0px, rgba(255, 127, 80, 0.11) 0px 0.6px 1.8px 0px;
    }
}

.card-vertical__image {
    img {
        height: 200px;
        object-fit: cover;
    }

}

.card-vertical__contant {
    flex: 1;
    margin: 12px;
        > :not(:first-child) {
        margin-top: 12px;
    }
}

.card-vertical__contant,
.card-horizontal__content {
    > :last-child {
        @include line--limit;
    } 
}