//-----------------------
//Modal
//-----------------------


.modal__container  {

    &.container {
        padding-right:0;
        padding-left: 0;
    }
    .ms-Modal-scrollableContent{
        padding: 0 50px;
        background: var(--background-color);
    }
}

.modal__header {
    padding-top: 25px;
    display: flex;
    justify-content: flex-end;
}


.ms-Button--icon {
    color: var(--text-color);
    transition: all 0.5s;
    box-shadow: inset 0 0 0 var(--text-color) ;

    &:hover {
        color: var(--background-color);
        background: var(--text-color) ;
        box-shadow: inset -10em 0 0  var(--text-color) ;
    }

    &:focus {
        outline: none;
    }
}

.modal__content {
    color: var(--text-color);
    margin-top: 25px;
    max-height: 200px;
    overflow-y: auto;
    transition: all 0.3s;
    @media only screen and (min-width: 768px) {
        margin: 25px 0;
        max-height: 400px;

    }
}

.modal__footer {
    margin: 30px 0;
    text-align: right;
}

.modal__btn {
    border: none;
    color: var(--text-color);
    transition: all 0.5s;
    background: var(--accent-color);

    &:hover {
        color: var(--background-color) ;
        background: var(--text-color);
        box-shadow: inset -10em 0 0 var(--text-color);
        border-radius: 2px;
    }

}