.blog-post__breadcrumb {
    margin: 40px 0;
}

.block {
    margin-bottom: 50px;
}

.block__content{
    p {
        margin-bottom: 20px;
    }
}

.block-1__inner {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 1025px) {
        flex-direction: row;
    }
}

.block-1__content {
    width: 100%;
    @media only screen and (min-width: 1025px) {
        width: 50%;
        margin-right: 20px;
    }

    > p {
        margin-bottom: 45px;
    }
}

.block-1__title {
    margin-bottom: 20px;
}

.block-1__visual {
    width: 100%;
    @media only screen and (min-width: 1025px) {
        width: 50%;
    }
}

