//-------------------------------------------------
// Home || intro 
//-------------------------------------------------

.home-intro {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    @media only screen and (min-width: 768px) {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

.home-intro__visual {
    display: none;
    margin: auto 0;
    position: relative;

    @media only screen and (min-width: 768px) {
        width: calc(50% - 40px);
        display: block;
    }
    span {
        position: absolute;
        color: $color-secondary;
        // font-family: $font--ptmono;
        font-family: 'Nanum Pen Script', cursive;       
        bottom: 15px;
        left: 20px;
        font-size: 16px;
    }
}

.home-intro__content {
    @media only screen and (min-width: 768px) {
        width: calc(50% + 40px);
    }
}

.home-intro__content-inner {
    padding: 20px;
    height: 100%;
    @media only screen and (min-width: 768px) {
        padding: 40px;
    }
}

.intro__text {
    font-family: 'PT Mono', monospace;
    font-size: 17px;

    &:not(:first-child) {
        margin-top: 60px;
    }
}

.list-social {
    font-family: "Abril Fatface", cursive;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-top: 60px;

    li {
        padding: 0 20px;
    }
}

//-------------------------------------------------
// Home || headers 
//-------------------------------------------------

.home-sec-header {
    color: var(--text-color);
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
    @media only screen and (min-width: 768px) {
        margin-bottom: 40px;
        margin-left: -30px;
    }
}

//-------------------------------------------------
// Home || PROJECTS 
//-------------------------------------------------

.home-projects {
    margin-bottom: 100px;
}


.home-projects__inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @media only screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.home-projects__inner {
    margin: 0 -20px;
}

.home-projects__post {
    padding: 0 20px;
    margin-bottom: 40px;

    a {
        width: 100%;
    }

    &:hover {
        .home-projects__title {
            color: var(--link-color);
        }

        .home-projects__img {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }
        
        .strikethrough{
            color: var(--link-color);
        }

        .strikethrough:after {
            transform: scaleX(0);
            transform-origin: center right;
        }
    }

    
    @media only screen and (min-width: 768px) {
        width: 50%;
    }
    @media only screen and (min-width: 1025px) {
        width: 33.33%;
    }
}


.home-projects__visual {
    overflow: hidden;
    min-width: 250px;
    height: 300px;
    @media only screen and (min-width: 768px) {
        height: 250px;
    }
}

.home-projects__img {
    object-fit: cover;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.home-projects__content {
    font-family: $font--ptmono;
    font-size: 14px;
    color: var(--text-color);
}

.home-projects__title {
    color: var(--text-color);
    font-family: $font--raleway;
    transition: all 0.3s;
    font-size: 17px;
    margin-top: 20px;
    @include line--limit;
}

.home-projects__text {

    margin-top: 10px;

    @include line--limit;
}

.tag__list {
    padding:10px 0;
    text-transform: uppercase;
    font-family: $font--ptmono;
    font-size: 14px;
    li {
        display: inline-block ;
        margin-right: 5px;
        background-color: var(--accent-color) ;
    }
}


//-------------------------------------------------
// Home || code-block 
//-------------------------------------------------

.code-block {
    background-color: var(--editor--background);
    @include fluid-sizing(320px, 1440px, 12px, 16px, 'font-size') ;  
    font-family: 'Roboto Mono', monospace;
    line-height: $text-code-lineheight;
    overflow-wrap: break-word;
    margin-bottom: 50px; 
    @media only screen and (min-width: 768px) {
         margin-bottom: 150px;
    }

    .method {
        color: var(--editor--method);
        display: inline;
    }
    
    .propname {
        color: var(--seditor--propname);
    }
    
    .dots {
        color: var(--editor--dots);
        display: inline;
        vertical-align: text-top;
    }
    
    .comment {
        color: var(--editor--comment);
        display: inline;
    }
    
    .scope {
        color: var(--editor--scope);
        display: inline;
    }
    
    .prop2 {
        color: var(--editor--prop2);
    }
    
    .string {
        color: var(--editor--string);
    }
    
    .number {
        color: var(--editor--number);
    }
    .symbol {
        display: inline;
        color: var(--editor--symbol) ;
    }
    .control {
        display: inline;
        color: var(--editor--control) ;
    }
}

.code-block__inner {
    padding: 30px 50px;
    counter-reset: step;
    counter-increment: step 0;
    @media only screen and (min-width: 1025px) {
        padding: 30px 0;
    }
}

.code-line {
    position: relative;
    &::before {
        position: absolute;
        left: -30px;
        color: var(--text-color);
        font-size: 16px;
        top: 0;
        position: absolute;
        content: counter(step);
        counter-increment: step;
        font-family:'Courier New', Courier, monospace;
        opacity: 0.5;
    }
}
