//------


.blog-home__text {
    display: block;
    padding: 52px 0;
    font-size:$text--s;
    font-family: $font--raleway;
}

.blog-home__content {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 40px;
    
    @media only screen and (min-width:768px){
        flex-direction: row;
    }
}
 
.blog-contnt--left {

    @media only screen and (min-width:768px){
        flex: 1 auto;
        padding-right:40px;
        max-width: calc(100% - 124px);
    }

}

.blog-contnt--right { 

    button.ms-Button {
        padding-left: 10px;
    }
}

.nav__header {
    padding-bottom: 20px;
}


.ms-Nav-group {
    min-width: 124px;
}