//-----------------------
//about
//-----------------------

.cv-about {
    margin-bottom: 40px;
}
.cv-about__content {
    flex: 50;
    padding-top: 10%;
    @media only screen and (min-width: 992px) {
        margin-left: 50px;
    }
}

.cv-about__content-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    max-width: 900px;
    margin: 0 auto;

}

.cv-about__content-top-inner {
    margin: auto 0;
    margin-right: 10px;

}

.cv-about__header {
    font-family: "Abril Fatface", cursive;
    @include fluid-sizing(320px, 1440px, 30px,32px, 'font-size');
    margin-bottom: 10px;
}

.cv-about__label {
    padding-top: 10px;
    font-size: 14px;
    color: var(--text-color);
}

.cv-about__img {
    max-width: 100px;
    height: 100px;
    object-fit: cover;

    @media only screen and (min-width: 480px) {
        max-width: 200px;
        height: auto;
    }
}


.cv-about__text {
    &:not(:first-child) {
        margin-top: 22px;
    }
}


p[class*="styled"] {
    display: inline;
}


.styled--city {
    &:before {
        content: "";
        height: 10px;
        width: 10px;
        vertical-align: middle;
        background-color:  var(--link-color);
        border-radius: 50%;
        display: inline-block;
    }
}
 .styled--bold,
 .text--bold {
    text-transform: uppercase;
     font-weight: 500;
 }

 .print--comment {
    display: none;
 }