//-----------------------
//about
//-----------------------


.about {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 100px;
    @media only screen and (min-width: 992px) {
        flex-direction: row;
    }
}

// .about__visual {
//     position: relative;
//     align-self: flex-end;
//     flex: 50;
//     @media only screen and (min-width: 768px) {
//         align-self: flex-start;
//     }

// }

// .about__visual--inner {
//     @media only screen and (min-width: 992px) {
//        width: 100%;
//     }
// }

.about__content {
    flex: 50;
    padding-top: 10%;
    @media only screen and (min-width: 992px) {
        margin-left: 50px;
    }
}

.about__content-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    max-width: 900px;
    margin: 0 auto;

}

.about__content-top-inner {
    margin: auto 0;
    margin-right: 10px;

}

.about__header {
    font-family: "Abril Fatface", cursive;
    @include fluid-sizing(320px, 1440px, 30px,32px, 'font-size');
    margin-bottom: 10px;
}

.about__label {
    padding-top: 10px;
    font-size: 14px;
    color: var(--text-color);
}

.about__img {
    max-width: 100px;
    height: 100px;
    object-fit: cover;

    @media only screen and (min-width: 480px) {
        max-width: 200px;
        height: auto;
    }
}


.about__text {
    &:not(:last-child) {
        margin-bottom: 22px;
    }
    &:not(:first-child) {
        margin-top: 22px;
    }
}


p[class*="styled"] {
    display: inline;
}


.styled--city {
    &:before {
        content: "";
        height: 10px;
        width: 10px;
        vertical-align: middle;
        background-color:  var(--link-color);
        border-radius: 50%;
        display: inline-block;
    }
}
 .styled--bold,
 .text--bold {
    text-transform: uppercase;
     font-weight: 500;
 }

 .print--comment {
    display: none;
 }