//------
.diary-page {
    
}

.diary-page__header {
}

.diary-page__text {
    display: block;
    padding: 52px 0;
    font-size:$text--body;
    font-family: $font--raleway;
}

.diary-contnt {
    display: flex;
    flex-direction: row;

}
 
.diary-contnt--left {
    flex: 1 auto;
    padding-right:40px;
    max-width: calc(100% - 124px);

}

.diary-contnt--right { 

}

.ms-Nav-group {
    min-width: 124px;
}