// ==========================================================================
// GLOBAL | Lists
// ========================================================================== {

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  >li {
    &:last-child {
      padding-bottom: 0;
    }
  }
}

dl,
dt,
dd {
  margin: 0;
}