// ==========================================================================
// GLOBAL | Figures
// ==========================================================================

img,
picture {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  transition: fill 0.3s;
}

figure {
  margin: 0;
}
