//-----------------------
// GLOBAL | Core
//-----------------------
*,
*:after,
*:before {
  box-sizing: inherit;
}

// -----

html,
body,
main {
  height: 100%;
}

html {
  overflow-y: scroll; // Force vertical scrollbar to avoid jumping if navigating from short to long page and vice versa
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size-adjust: auto;

  font-family:$font--raleway;
  font-size: 16px;
  letter-spacing: 0.5px;

//   min-width: $threshold--mobile;
  //   background-color: $color--bg;
  //   color: $color--text;
  //   font-weight: $weight--text;
  //   @include text--l;
  //   min-width: $threshold--mobile;

}

//-----------------------
//Buttons
//-----------------------

button {
    border: 0;
    display: inline-block;
    padding: 0;
    user-select: none;
    text-decoration: none;
    background: none;
    appearance: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}


//-----------------------
//lists
//-----------------------
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl,
dt,
dd {
  margin: 0;
}


//-----------------------
//Typography
//-----------------------

h1,
h2,
h3,
h4,
h5,
h6 {
//   @include title--roboto-slab;
  margin: 0;
}

// -----

p {
  margin: 0;
}

// -----


blockquote {
  margin: 0;
}


//-----------------------
// links
//-----------------------

a {
  color: $color-black;
  display: inline-block;
  transition: color 0.2s;
    
  &:hover {
    color: $color-primary;      
    text-decoration: none;
  } 
}


//----------
.page-layout {
  min-height: 100%;
  position: relative;
  background: #f4f4f4;
}

.content {
  padding-bottom: 60px;
}

//-----

img {
  width: 100%;
}