//use for
//  background-color:  var(--background-color);
//  color:  var(--text-color);
html {
    --text-color: chartreuse;
    --background-color:green;
    --link-color: #00bcd4;
    --main-headline-color: rgb(233, 30, 99);
    --accent-background-color: rgb(0, 188, 2\12);
    --accent-color: rgb(5, 5, 5);
  }