@media print{

    .header {
        position: relative;
    }

    .nav-list__print {
        display: none;
    }

    .about__header {
        top: 25%;
        color: $color-black;
    }

    .about__img {
        width: 300px;
    }
    .footer {
        display: none;
    }
    .cv-table{
        .row {
            flex-direction: row;
        }
    } 
    .cv-table__content{
        .collapse:not(.show) {
            display: block !important;
        }
    }

}