//-----------------------
//Mixins
//-----------------------

// ----- fluid-sizing

// Use: @include fluid-sizing( 320px, 1280px, 16px, 32px );
// Use: @include fluid-sizing( 320px, 1280px, 16px, 32px, 'margin-top' );
@mixin fluid-sizing( $min-vw, $max-vw, $min-size, $max-size, $attr: 'font-size' ) {
    #{$attr}: $min-size;
  
    @media screen and ( min-width: $min-vw ) {
      #{$attr}: calc( #{ $min-size } + #{ strip-unit( $max-size ) - strip-unit( $min-size ) } * ( ( 100vw - #{ $min-vw } ) / #{ strip-unit( $max-vw - $min-vw ) } ) );
    }
  
    @media screen and ( min-width: $max-vw ) {
      #{$attr}: $max-size;
    }
  }
  
  @function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
      @return $number / ($number * 0 + 1);
    }
  
    @return $number;
  }

//-----------------------
//Typography
//-----------------------

//---- Titles

@mixin title--l {
  font-size: 32px;
}

@mixin title--m {
  font-size: 24px;  
}

@mixin title--s {
  font-size: 18px;
}
//---- Text

@mixin text--m {
  font-size: 18px;
}


@mixin text--s {
  font-size: 14px;
  line-height: 27px;
}

//------ links
// @mixin link--base {
//   font-size: 14px;
//   line-height: 27px;
// }

@mixin link--primary {
  
}



//-----------------------
//clickables
//-----------------------

//-----------------------
//functions
//-----------------------

//-----------------------
//lists
//-----------------------



